<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav" *ngIf="isLoggedIn$ | async as isLoggedIn">
      <li class="nav-item">
        <a routerLink="business/create" class="nav-link" routerLinkActive="active">
          New Order
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="business/create" class="nav-link" routerLinkActive="active">
          Order List
        </a>
      </li>
      <li>
        <a routerLink="business" class="nav-link" routerLinkActive="active">
          Health Status
        </a>
      </li>
      <li>
        <a  routerLink="business" class="nav-link" routerLinkActive="active" (click)="onLogout()">
          Logout
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>