<div class="col-md-12">
  <h2 class="text-center">New Order</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div></div>
    <h5>Order Detail</h5>
    <div class="form-group">
      <label >User Name:{{currentUser.username}}</label>
    </div>

    <div class="form-group">
      <label for="delivery_address">Deliver Address:</label>
      <input type="text" formControlName="delivery_address" placeholder="Delivery address" name="delivery_address" class="form-control" id="delivery_address">
      <div class="error" *ngIf="addForm.controls['delivery_address'].hasError('required') && addForm.controls['delivery_address'].touched">Delivery address is required</div>
    </div>

    <div class="form-group">
      <label for="phone_number">Phone Number:</label>
      <input type="text" formControlName="phone_number" placeholder="Phone number" name="phone_number" class="form-control" id="phone_number">
      <div class="error" *ngIf="addForm.controls['phone_number'].hasError('required') && addForm.controls['phone_number'].touched">Phone number is required</div>
    </div>
    <div class="form-group">
      <label for="item_detail">Item Detail:</label>
      <input type="text" formControlName="item_detail" placeholder="Item detail" name="item_detail" class="form-control" id="item_detail">
      <div class="error" *ngIf="addForm.controls['item_detail'].hasError('required') && addForm.controls['item_detail'].touched">Item Detail is required</div>
    </div>
    <div class="form-group">
      <label for="price">Price ($):</label>
      <input type="number" formControlName="price" placeholder="price" name="price" class="form-control" id="price">
      <div class="error" *ngIf="addForm.controls['price'].hasError('required') && addForm.controls['price'].touched">Price is required</div>
    </div>
    <hr>
    <h5>Payment Detail</h5>
    <div class="form-group">
      <label for="card_holder_name">Card Holder Name:</label>
      <input type="text" formControlName="card_holder_name" placeholder="Card holder name" name="card_holder_name" class="form-control" id="card_holder_name">
      <div class="error" *ngIf="addForm.controls['card_holder_name'].hasError('required') && addForm.controls['card_holder_name'].touched">Card holder name is required</div>
    </div>
    <div class="form-group">
      <label for="card_number">Card Number:</label>
      <input type="text" formControlName="card_number" placeholder="card_number" name="card_number" class="form-control" id="card_number">
      <div class="error" *ngIf="addForm.controls['card_number'].hasError('required') && addForm.controls['card_number'].touched">Card holder name is required</div>
    </div>
    <hr>
    <button class="btn btn-success" [disabled]="addForm.invalid">Save</button>
    <button class="btn btn-success" (click)="cancel()" >Cancel</button>
  </form>
</div>